@charset "UTF-8";
/*css 註解*/
body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.btn-error {
  background-color: rgb(255, 43, 1);
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 30px;
}
.btn-error:hover {
  background-color: #9a1900;
}

.card {
  width: 300px;
  height: 500px;
  border-radius: 6px;
  background-color: #f1f1f1;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #858585;
}

.card-item {
  width: 300px;
  height: 300px;
  background-color: #f3f3f3;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.card-item:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
}

.btn {
  display: flex;
  width: 100%;
  height: 52px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
}

.btn-default {
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  background-color: #ffaa00;
  color: #ffffff;
  box-shadow: 1px 1px 20px #d0d0d0;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media screen and (max-width: 560px) {
  .btn-default {
    width: 200px;
    color: #f20;
  }
}
@media screen and (max-width: 700px) {
  .btn-default {
    color: #0033ff;
  }
}
.btn-default:hover {
  background-color: #b7870d;
}

.container-full {
  width: 100%;
}

.container {
  width: 1366px;
  margin: auto;
}

.content {
  height: 400px;
  background-color: #d7d7d7;
}
@media screen and (max-width: 560px) {
  .content {
    height: 600px;
    background-color: #ffff00;
  }
}

.box {
  width: 300px;
  height: 400px;
  background-color: #fe3e3e;
}

.box2 {
  width: 100px;
  height: 200px;
  border-radius: 10px;
  background-color: #c6e900;
}

.titleH1 {
  font-size: 56px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.titleIndex {
  font-size: 56px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 300px;
  margin: auto;
}

.box {
  width: 120px;
  height: 120px;
  background-color: #ff4545;
}

.p-left-1 {
  margin-left: 1px;
}

.p-right-1 {
  margin-right: 1px;
}

.p-top-1 {
  margin-top: 1px;
}

.p-left-2 {
  margin-left: 2px;
}

.p-right-2 {
  margin-right: 2px;
}

.p-top-2 {
  margin-top: 2px;
}

.p-left-3 {
  margin-left: 3px;
}

.p-right-3 {
  margin-right: 3px;
}

.p-top-3 {
  margin-top: 3px;
}

.p-left-4 {
  margin-left: 4px;
}

.p-right-4 {
  margin-right: 4px;
}

.p-top-4 {
  margin-top: 4px;
}

.p-left-5 {
  margin-left: 5px;
}

.p-right-5 {
  margin-right: 5px;
}

.p-top-5 {
  margin-top: 5px;
}

.p-left-6 {
  margin-left: 6px;
}

.p-right-6 {
  margin-right: 6px;
}

.p-top-6 {
  margin-top: 6px;
}

.p-left-7 {
  margin-left: 7px;
}

.p-right-7 {
  margin-right: 7px;
}

.p-top-7 {
  margin-top: 7px;
}

.p-left-8 {
  margin-left: 8px;
}

.p-right-8 {
  margin-right: 8px;
}

.p-top-8 {
  margin-top: 8px;
}

.p-left-9 {
  margin-left: 9px;
}

.p-right-9 {
  margin-right: 9px;
}

.p-top-9 {
  margin-top: 9px;
}

.p-left-10 {
  margin-left: 10px;
}

.p-right-10 {
  margin-right: 10px;
}

.p-top-10 {
  margin-top: 10px;
}

.p-left-11 {
  margin-left: 11px;
}

.p-right-11 {
  margin-right: 11px;
}

.p-top-11 {
  margin-top: 11px;
}

.p-left-12 {
  margin-left: 12px;
}

.p-right-12 {
  margin-right: 12px;
}

.p-top-12 {
  margin-top: 12px;
}

.p-left-13 {
  margin-left: 13px;
}

.p-right-13 {
  margin-right: 13px;
}

.p-top-13 {
  margin-top: 13px;
}

.p-left-14 {
  margin-left: 14px;
}

.p-right-14 {
  margin-right: 14px;
}

.p-top-14 {
  margin-top: 14px;
}

.p-left-15 {
  margin-left: 15px;
}

.p-right-15 {
  margin-right: 15px;
}

.p-top-15 {
  margin-top: 15px;
}

.p-left-16 {
  margin-left: 16px;
}

.p-right-16 {
  margin-right: 16px;
}

.p-top-16 {
  margin-top: 16px;
}

.p-left-17 {
  margin-left: 17px;
}

.p-right-17 {
  margin-right: 17px;
}

.p-top-17 {
  margin-top: 17px;
}

.p-left-18 {
  margin-left: 18px;
}

.p-right-18 {
  margin-right: 18px;
}

.p-top-18 {
  margin-top: 18px;
}

.p-left-19 {
  margin-left: 19px;
}

.p-right-19 {
  margin-right: 19px;
}

.p-top-19 {
  margin-top: 19px;
}

.p-left-20 {
  margin-left: 20px;
}

.p-right-20 {
  margin-right: 20px;
}

.p-top-20 {
  margin-top: 20px;
}

.p-left-21 {
  margin-left: 21px;
}

.p-right-21 {
  margin-right: 21px;
}

.p-top-21 {
  margin-top: 21px;
}

.p-left-22 {
  margin-left: 22px;
}

.p-right-22 {
  margin-right: 22px;
}

.p-top-22 {
  margin-top: 22px;
}

.p-left-23 {
  margin-left: 23px;
}

.p-right-23 {
  margin-right: 23px;
}

.p-top-23 {
  margin-top: 23px;
}

.p-left-24 {
  margin-left: 24px;
}

.p-right-24 {
  margin-right: 24px;
}

.p-top-24 {
  margin-top: 24px;
}

.p-left-25 {
  margin-left: 25px;
}

.p-right-25 {
  margin-right: 25px;
}

.p-top-25 {
  margin-top: 25px;
}

.p-left-26 {
  margin-left: 26px;
}

.p-right-26 {
  margin-right: 26px;
}

.p-top-26 {
  margin-top: 26px;
}

.p-left-27 {
  margin-left: 27px;
}

.p-right-27 {
  margin-right: 27px;
}

.p-top-27 {
  margin-top: 27px;
}

.p-left-28 {
  margin-left: 28px;
}

.p-right-28 {
  margin-right: 28px;
}

.p-top-28 {
  margin-top: 28px;
}

.p-left-29 {
  margin-left: 29px;
}

.p-right-29 {
  margin-right: 29px;
}

.p-top-29 {
  margin-top: 29px;
}

.p-left-30 {
  margin-left: 30px;
}

.p-right-30 {
  margin-right: 30px;
}

.p-top-30 {
  margin-top: 30px;
}

.p-left-31 {
  margin-left: 31px;
}

.p-right-31 {
  margin-right: 31px;
}

.p-top-31 {
  margin-top: 31px;
}

.p-left-32 {
  margin-left: 32px;
}

.p-right-32 {
  margin-right: 32px;
}

.p-top-32 {
  margin-top: 32px;
}

.p-left-33 {
  margin-left: 33px;
}

.p-right-33 {
  margin-right: 33px;
}

.p-top-33 {
  margin-top: 33px;
}

.p-left-34 {
  margin-left: 34px;
}

.p-right-34 {
  margin-right: 34px;
}

.p-top-34 {
  margin-top: 34px;
}

.p-left-35 {
  margin-left: 35px;
}

.p-right-35 {
  margin-right: 35px;
}

.p-top-35 {
  margin-top: 35px;
}

.p-left-36 {
  margin-left: 36px;
}

.p-right-36 {
  margin-right: 36px;
}

.p-top-36 {
  margin-top: 36px;
}

.p-left-37 {
  margin-left: 37px;
}

.p-right-37 {
  margin-right: 37px;
}

.p-top-37 {
  margin-top: 37px;
}

.p-left-38 {
  margin-left: 38px;
}

.p-right-38 {
  margin-right: 38px;
}

.p-top-38 {
  margin-top: 38px;
}

.p-left-39 {
  margin-left: 39px;
}

.p-right-39 {
  margin-right: 39px;
}

.p-top-39 {
  margin-top: 39px;
}

.p-left-40 {
  margin-left: 40px;
}

.p-right-40 {
  margin-right: 40px;
}

.p-top-40 {
  margin-top: 40px;
}/*# sourceMappingURL=style.css.map */