@use "sass:map"; // sass 3.0的引用函式的寫法

// css import
// @import url('header.css');

// sass import
@import 'base/var';
@import 'base/reset';
@import 'base/font';
@import 'base/color';
// @import 'base/other';

// mixin
@import 'mixin/mixin';
//component
@import 'component/btn';
@import 'component/form';
@import 'component/table';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/content';

// page
@import 'page/index';
@import 'page/about';





.box {
    @include rect();
    background-color: #fe3e3e;
}

.box2 {
    @include rect(100px, 200px, 10px);
    background-color: #c6e900;
}


.titleH1 {
    @include titleH1();
}

.titleIndex {
    @include titleH1();
}

.card {
    width: 300px;
    margin: auto;
}

.box {
    width: 120px;
    height: 120px;
    background-color: #ff4545;

}




@include push(10);



@include g-color('yellow', #66005a);
@include g-color('blue', #00285d);



.spec {
    width: 150px;
    height: 50px;
    //顏色函式
    background-color: darken(#ffffff, 20); // 變暗
    background-color: lighten(#ffffff, 20); // 變亮
}

@include title(heavy);


//@each
$url: slider01 slider02 slide03 banner banner2; // list

@each $k in $url {
    .#{$k}-cover {
       background-image: url('images/#{$k}.jpg');
       background-repeat: no-repeat;
       background-size: cover;
    }
}

// map
$bg-color : (
  key : value,
  primary : #ddff00,
  secondary : #ff3c00,
  error : #f20,
  info : #0022ff
);

@each $k , $v in $bg-color {
  .#{$k} {
     color: $v
  } 
}

$subject : (
  h1 : 40px,
  h2:  36px,
  h3: 30px,
  h4 : 24px,
  h5 : 16px,
  span : 14px,
  '.gat' : 13px,
  li : 14px
);

@each $k , $v in $subject {
   #{$k} {
       font-size: $v;
   }
}

//============
// h1 {
//  font-size: 40px;
// }
// h2 {
//   font-size: 36;
// }
//===============