@use "sass:map"; // sass 3.0的引用函式的寫法

// css import
// @import url('header.css');

// sass import
@import 'base/var';
@import 'base/reset';
@import 'base/font';
@import 'base/color';
// @import 'base/other';

// mixin
@import 'mixin/mixin';
//component
@import 'component/btn';
@import 'component/form';
@import 'component/table';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/content';

// page
@import 'page/index';
@import 'page/about';





.box {
    @include rect();
    background-color: #fe3e3e;
}

.box2 {
    @include rect(100px, 200px, 10px);
    background-color: #c6e900;
}


.titleH1 {
    @include titleH1();
}

.titleIndex {
    @include titleH1();
}

.card {
    width: 300px;
    margin: auto;
}

.box {
    width: 120px;
    height: 120px;
    background-color: #ff4545;

}


@mixin push($val) {
    @for $i from 1 through $val {
        .p-left-#{$i} {
            margin-left: $i * 1px;
        }

        .p-right-#{$i} {
            margin-right: $i * 1px;
        }

        .p-top-#{$i} {
            margin-top: $i * 1px;
        }
    }
}

@include push(10);

@mixin g-color($class,$bgc) {
    @for $i from 1 through 10 {
        .#{$class}-#{$i} {
            background-color: lighten($bgc, $i *7.4);
            width: 150px;
            height: 30px;
        }
    }
}

@include g-color('yellow',  #66005a);
@include g-color('blue',  #00285d);



.spec {
    width: 150px;
    height: 50px;
    //顏色函式
    background-color: darken( #ffffff, 20); // 變暗
    background-color: lighten( #ffffff, 20);// 變亮
}