.container-full {
    @include layout(100);
}

.container {
    @include layout(1366);
}

.content {
   height: 400px;
   background-color: #d7d7d7;
   @include m(){
      height: 600px;
      background-color: #ffff00;
   }
   
}