/*css 註解*/
//scss註解
//變數目前只能放在屬性值裡
@use "sass:map"; // sass 3.0的引用函式的寫法

$fontSize: 16px; //數值
$fontFamily: Arial, Helvetica, sans-serif; //字串
$fontColor : #ff0e9f; // 顏色
$bgc: #ffe59e; //顏色
$marginList : 10px auto 20px; // list
$fullwidth :true; // 布林值
$number : null;// 空值 屬性被刪除
$title : (
   key : value,
   h1 : 50px,
   h2 : 40px,
   h3: 30px
); //map



body {
    font-size: $fontSize;
    font-family: $fontFamily;
    margin: $marginList;
    padding: 0;
    background-color: $bgc;
    color: $fontColor;
    width: 100%;

}

.wrapper {
    @if $fullwidth {
        width: 100%;
       
    }@else {
        width: 1200px;        
        margin: auto;
    }
    padding: $number;//空值會刪除屬性
}

h1 {
  font-size: map.get($title, h3);
}

$p : 40px; //全域變數

p.inner {
  $p : 50px; //區域變數
  font-size: $p;
  $a: 30px !global;//區域變數 加入!global 就會變成全域變數
}

p.out{   
 font-size: $a;//取不到區域變數的值 
}