@mixin rect($w: 300px, $h: 400px, $borderRadius : null) {
    width: $w;
    height: $h;
    border-radius: $borderRadius;
}




@mixin titleH1() {
    font-size: 56px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}



//========================
// layout 
// @include layout(100)  = 滿版
// @include layout(90)  = 90% center
// @include layout(1366)  = 1366 固定寬度 並且置中
//========================
@mixin layout($w) {
    @if $w ==100 {
        width: $w * 1%;
    }

    @else if $w < 100 {
        width: $w * 1%;
        margin: auto;
    }

    @else {
        width: $w * 1px;
        margin: auto;
    }
}



// 按鈕
// @include btn(被景色 , 字顏色, 內距, 圓角)
@mixin btn($bgc , $color , $p , $borderRadius: null) {
    padding: $p;
    text-align: center;
    border-radius: $borderRadius;
    background-color: $bgc;
    color: $color;
}



//手機板斷點

@mixin m(){
    @media screen and (max-width: $m) {
        // 手機版內容
        @content;
    }
}

//自行管理斷點
@mixin s($p){
    @media screen and (max-width: $p) {
        // 手機版內容
        @content;
    }
}

@media screen and (max-width: $p) {
    // 手機版內容
   
}





